body {
  background-color: aqua;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 25%;
}
.increase {
  background-color: green;
  color: white;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 10px;
}

.decrease {
  background-color: rgb(127, 127, 127);
  color: white;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 10px;
}

.reset {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
